  body {
    width: 1024px;
    height: fit-content;
    margin: 1px;
    background-color: rgb(235, 234, 228);
    padding: 5px 5px 5px 5px;
    border: 3px solid green;
  }
  
  div#myResume {
    font-size : 24px;
    width: auto;
    /* height: fit-content; */
    background-color: rgb(255, 251, 0);
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
  }

  /* div#intro , #secEducation , #secWork, #secProject{ */
  div#myResume > div {
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 251, 0);
    padding: 5px 5px 10px 5px;
    border: 3px solid black;
    flex-direction: row;
  }

  div#myResume > div > div {
    display: flex;
    flex: auto; 
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  div#myResume > div > div  h3{
    font-size: 30px;  
  } 

  div#intro > img{
    width: 35%;
    height: 10%;
    border-radius: 50%;
    padding: 10px;
  }

  div#intro > div{
    display: flex;
    flex-direction: column; 
    align-items: top; 
    padding: 20px;
  }

  div#intro > div > p{
    margin-top: 20px;
  }
  div#secEducation > div > div {
    display: flex;
    /* flex:auto; */
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
  div#secEducation > div span:nth-child(odd){
    /* align-self: left; */
    flex:auto;
    font: bold;
    font-size: 30px; 
    
  }
  div#secEducation > div span:nth-child(even){
    /* align-self: right; */
    flex:auto;
    font-size: 25px; 
  }

 

  [v-cloak] {
    display: none;
  }